:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #f44336;
    --color-primary-200: #f95e4a;
    --color-primary-300: #fe755f;
    --color-primary-400: #ff8a75;
    --color-primary-500: #ff9f8a;
    --color-primary-600: #ffb2a1;

    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    --color-surface-700: #fff;
  }

/* header */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--color-surface-700);
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    background-color: var(--color-surface-200);
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;

}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;
}

.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
    margin-left: 20px;
}


/* expandable sidebar */

.sidebar{
    display: none;
}
.shortcut-links img{
    width: 25px;
    margin: 5px;
    margin-right: 15px;
    transition: transform 0.3s ease;
}
.shortcut-links img:hover {
  transform: scale(1.15);
}
.small-sidebar{
    display:contents;
}
.nav-left .line {
    display: inline-block;
    height: 32px;
    width: 0.5px;
    background-color: grey;
    margin-right: 20px;
    margin-left: 5px;
    vertical-align: center;
}

/* logo & search */

.nav-left .logo{
    width: 100px;
}
.nav-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}
.nav-middle .search-box{
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}
.nav-left .nav-right{
    flex: 1;
}

/* dropdown */
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 50px;
    width: 200px;
    max-height: 0px;
    overflow: hidden;
    background-color:var(--color-surface-100);
    border-radius: 15px;
}

.sub-menu-wrap.open-menu{
    max-height: 500px;
    padding-bottom: 15px;
}

.sub-menu{
    background: transparent;
    padding: 10px;
    margin: 10px;
}

.user-info{
    background: transparent;
    display: flex;
    align-items: center;
    color: #fff;
}
.user-info h2{
    background: transparent;
    font-weight: 500;
    font-size: 20px;
}

.user-info img{
    align-items: left;
    width: 40px;
    border-radius: 50px;
    margin-right: 15px;
}

.sub-menu-link{
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
    margin-left: 20px;
}

.sub-menu-link p {
    background-color: #1a1625;
    margin-left: 22px;
}

.sub-menu-link img {
    width: 32px;
    background: #282828;
    border-radius: 50%;
    padding: 8px;
}

.sub-menu-link:hover p {
    font-weight: 600;
}
/* containters */
.container {
    display: flex;
    justify-content: space-between;
    padding: 13px ;
}

/* profile */

.profile-container1 {
    padding: 0 15%;
}
.profile-container2 {
    padding: 20px 17.5%;
    color: #fff;
    background-color: var(--color-surface-100);
}
.profile-top{
    background-color: var(--color-surface-200);
    color: var(--color-surface-700);
}
.cover-img {
    position: relative;
    width: 100%;
    height: 350px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    /* margin-bottom: 14px; */
}
.profile-details{
    padding: 25px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.pd-row {
    display: flex;
    align-items: center;
    background-color: #282828;
    width: 90%;
}
.pd-image{
    position: absolute;
    top: 330px;
    width: 200px;
    margin-left: 20px;
    border: solid 5px #282828;
    border-radius: 50%;
    background-color: #282828;
}
.pd-row div h3 {
    margin-left: 250px;
    font-size: 25px;
    font-weight: 600;
    background-color: #282828;
}
.pd-row div p{
    margin-left: 250px;
    font-size: 12px;
    background-color: #282828;
    padding-top: 10px;
}

.pd-right{
    /* background: #282828; */
    width: 200px;
    margin-right: 15px;
}

.pd-right button{
    background: var(--color-surface-500);
    color: var(--color-surface-700);
    border: 0;
    outline: 0;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button img {
    height: 15px;
    margin-right: 10px;
}
.pd-right button:hover{
    background-color: var(--color-surface-600);
}

.profile-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}
.info-col{
    flex-basis: 33%;
}
.post-col{
    flex-basis: 65%;
}

.profile-intro{
    background-color: var(--color-surface-200);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    align-items: center;
}
.profile-info .info{
    display: flex;
    align-items: center;
}
.profile-intro h3{
    color: var(--color-surface-700);
    font-weight: 700;
    padding-bottom: 15px;
}
.profile-intro p{
    color: var(--color-surface-700);
    margin-left: 10px;
    padding: 10px;
    align-items: center;
}
.profile-intro img{
    align-items: center;
    width: 18px;
    margin-left: 0px;
    vertical-align: middle;
}

/* ----------main content---------- */

.main-content {
    justify-content: center;
    align-items: center;
    flex-basis: 65%;

}

.write-post-container {
    width: 100%;
    background: var(--color-surface-700);
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}
.user-profile .user-img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p {
    margin-bottom: -2px;
    font-size: 16px;
    font-weight: 600;
    color: #626262;
}
.user-profile .visibility{
    font-size: 12px;
    border: none;
    color: #626262;
}
.input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.input-container .textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    padding-bottom: 20px;
    margin-top: 10px;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links label{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #282828;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links label img{
    width: 20px;
    margin-right: 10px;
}
.input-btn{
    display: none;
}

.post-btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 25px;
}

.post-container{
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.post-container .caption{
    padding: 20px;
    display: flex;
}
.post-container .button-container{
    margin-top: -5px;
    margin-left: 20px;
}

.post-container .button-container button {
    background: var(--color-surface-200);
    border: none;
    color: var(--color-surface-700);
    margin: 10px 2px;
    padding: 8px 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    outline-offset: -2px;
    text-decoration: none;
    transition: transform 0.1s ease;
}
.post-img{
    display: flex;
    border-radius: 4px;
    margin-bottom: 5px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    object-fit: cover;
}

.reacts-container{
    display: flex;
    align-items: center;
    margin-left: -90px;
}

.reacts-container button{
    border: none;
    background: none;
    padding: 20px;
}

/* like-button */
.like-button .heart-icon{
    height: 100px;
    width: 100px;
    background: url(images/img.png);
    background-position: left;
    cursor: pointer;
    margin-left: 70px;
}

.like-button .heart-icon.liked{
    animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim{
    to{
        background-position: right;
    }
}

.like-button{
    display: flex;
    align-items: center;
}

.like-button .likes-amount{
    font-size: 16px;
    padding-left: 20px;
    font-weight: 600;
}
.likes-text{
    font-size: 16px;
    padding-left: 10px;
    font-weight: 600;
}


.comment-section {
    display: none; /* Hide comment section by default */
    max-height: 200px; /* Set a max-height or adjust based on your preference */
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
    overflow-x: hidden;
}

.comment-section.show {
    display: block; /* Show comment section when class "show" is added */
}



.add-comment{
    border:none;
    /* border: 1px solid #3f3f3f; */
    background: none;
    padding: 20px 0 20px 20px;
    width: 100%;
    outline: none;
    position: sticky;
}

.user-profile-comments{
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 100%;
}
.user-profile-comments img{
    border-radius: 50%;
    width: 32px;
}
.user-profile-comments p{
    margin-left: 10px;
}
.comment{
    margin-left: 65px;
    padding-bottom: 15px;
}
.comments-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.like-comment-btn{
    display: flex;
    align-items: center;
    border: none;
    background: none;
    width: 16px;
    margin-left: 65px;
    cursor: pointer;
    color: #282828;
}

.likes-comment-amount{
    font-size: 12px;
    margin-left: 10px;
    padding-right: 5px;
    color: #282828;

}

.likes-comment-text{
    font-size: 12px;
}

.reply-btn{
    border: none;
    background: none;
    width: 8px;
    cursor: pointer;
    font-size: 12px;
}

.comments-actions .menu-dots-btn{
    border: none;
    background: none;
}
.comments-actions .menu-dots-btn img{
    border: none;
    width: 16px;
}
.reply-comment {
    display: none;
    margin-left: 45px;
}

.edit-profile-icon{
    display: flex;
    margin-left: 78%;
    justify-content: start;
}
.editIcon{
    width: 24px;
    transition: transform 0.3s ease;
}
.editIcon:hover{
    transform: scale(1.15);
}

