
/* header */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    background-color: #121212;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
    background: #121212;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;

}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
    margin-left: 20px;
}
.nav-left .logo{
    width: 100px;
}


.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}

/* dropdown */
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 50px;
    width: 250px;
    max-height: 0px;    
    overflow: hidden;
    background-color:#1a1625;
    border-radius: 15px;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: transparent;
    padding: 10px;
    margin: 10px; 
}

.user-info{
    background: transparent;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
}
.user-info h2{
    background: transparent;
    font-weight: 500;
}

.user-info img{
    align-items: left;
    width: 40px;
    border-radius: 50px;
    margin-right: 15px;
}

.sub-menu-link{
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin: 12px 0;
    margin-left: 20px;
}

.sub-menu-link p {
    background-color: #1a1625;
    margin-left: 22px;
}

.sub-menu-link img {
    width: 32px;
    background: #282828;
    border-radius: 50%;
    padding: 8px;
}

.sub-menu-link:hover p {
    font-weight: 600;
}
/* containters */
.container {
    display: flex;
    justify-content: space-between;
    padding: 13px ;
}

/* sidebar */

.sidebar{ /*This is the left side of teh bar*/
    background: #121212;
    width: 18%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}

.shortcut-links a:hover p{
    font-weight: 600;
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #575757;
    width: 85%;
}

.small-sidebar{
    width: 90px;
}

.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
/* profile */

.profile-container {
    padding: 20px 15%;
    color: #fff;
    background-color: #282828;

}
.cover-img {
    width: 100%;
    border-radius: 6px;
    /* margin-bottom: 14px; */
}
.profile-details{
    background: #282828;
    padding: 20px;
    border-radius: 4px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #282828;
}
.pd-row {
    display: flex;
    align-items: center;
    background-color: #282828;
    width: 90%;
}
.pd-image{
    width: 180px;
    margin-right: 20px;
    border: solid 5px #282828;
    border-radius: 50%;
    background-color: #282828;
}
.pd-row div h3 {
    font-size: 25px;
    font-weight: 600;
    background-color: #282828;
}
.pd-row div p{
    font-size: 12px;
    background-color: #282828;
    padding-top: 10px;
}

.pd-right{
    background: #282828;
    width: 200px;
}

.pd-right button{
    background: #575757;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right button img {
    background-color: #575757;
    height: 15px;
    margin-right: 10px;
}
.pd-right button:hover{
    color: #ccc;
}

.main-content {
    flex: 1; 
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-box {
    margin-top: 20px;
    background-color: white;
    border: 2px solid black; 
    width: 55%;
    height: 150vh; 
}

.post-pic{
    width : 80%;
    height: 50vh;
    margin-bottom: 20px;
}

.profile-pic {
    width: 30px; 
    border-radius: 30px;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 10px; 
    margin-bottom: 10px;
    margin-left: 20px;
}

.profile-pic2 {
    width: 50px; 
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 10px; 
    margin-bottom: 10px;
    margin-left: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start; 
}

.column-left {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    justify-content: center; 
}

.column-middle {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.vote{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.vote-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1; /* Push the icons to the right */
}

.row1{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start; 
}

.heart{
    width: 30px;
    height: 20px;
}

.comment {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.tag{
    margin-left: 15px;
    background-color: rgb(209, 242, 198);
    width: 80px;
    height: 18px;
    text-align: center;
}

h2{
    margin-top: 13px;
    font-size : 20px;
    font-family: "Lucida Console", monospace;
    margin-bottom: 5px;
}

h3{
    margin-top: 13px;
    font-size :15px;
    font-family: "Lucida Console", monospace;
    margin-bottom: 5px;
}

h8 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 12px;
    font-family: "Lucida Console", monospace;
}

h10 {
    margin-left: 12px;
    font-size: 12px;
    font-family: "Lucida Console", monospace;
}

h11 {
    font-size: 12px;
    font-family: "Lucida Console", monospace;
}

h12 {
    font-size: 12px;
    font-family: "Lucida Console", monospace;
    margin-left: 15px;
    margin-right: 15px;
}

h13 {
    margin-right: 10px;
    margin-top: 15px;
    font-size: 12px;
    font-family: "Lucida Console", monospace;
}


.dotted-line {
    width: 100%;
    height: 1px;
    border-top: 1px dotted #000; 
    margin: 20px 0; 
}

.comment-button{
    border-radius: 20px;
    background-color: rgb(209, 242, 198);
    width: 150px; 
    height: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.vote1{
    margin-right: 10px;
    margin-left: 15px;
    margin-top: 15px;
    width: 25px;
    height: 25px;
}

.comment {
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
}

.comment1 {
    margin-right: 10px;
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

.solid-line {
    width: 85%;
    height: 2px; /* Adjust the thickness of the line if needed */
    background-color: lightgray;
    margin: 20px auto; /* Adjust the margin as needed */
}