:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #f44336;
    --color-primary-200: #f95e4a;
    --color-primary-300: #fe755f;
    --color-primary-400: #ff8a75;
    --color-primary-500: #ff9f8a;
    --color-primary-600: #ffb2a1;
  
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    --color-surface-700: #fff;
  }
/* header */
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
    background-color: var(--color-surface-200);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,.2); 
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
    transition: transform 0.3s ease;
}
.nav-right img:hover{
    transform: scale(1.15);
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
    margin-right: 0;;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}
.nav-left .menu-icon:hover{
    transform: scale(1.15);
}

.nav-left .logo{
    width: 100px;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}

/* dropdown */
.sub-menu-wrap{
    position: absolute;
    top: 40px;
    right: 50px;
    width: 200px;
    max-height: 0px;    
    overflow: hidden;
    background-color:var(--color-surface-100);
    border-radius: 15px;
}

.sub-menu-wrap.open-menu{
    max-height: 500px;
    padding-bottom: 15px;
}

.sub-menu{
    background: transparent;
    padding: 10px;
    margin: 10px; 
}

.user-info{
    background: transparent;
    display: flex;
    align-items: center;
    color: #fff;
}
.user-info h2{
    background: transparent;
    font-weight: 500;
    font-size: 20px;
}

.user-info img{
    align-items: left;
    width: 40px;
    border-radius: 50px;
    margin-right: 15px;
}

.sub-menu-link{
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin: 12px 0;
    margin-left: 20px;
}

.sub-menu-link p {
    background-color: #1a1625;
    margin-left: 22px;
}

.sub-menu-link img {
    width: 32px;
    background: #282828;
    border-radius: 50%;
    padding: 8px;
    transition: transform 0.3s ease;
}
.sub-menu-link:hover img {
    transform: scale(1.15);
}
.sub-menu-link:hover p {
    font-weight: 600;
}
/* containters */
.container {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-surface-100);
    /* padding: 13px ; */
}

/* sidebar */

.sidebar{
    background: #121212;
    width: 14%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}
.shortcut-links a:hover{
    font-weight: 600;
}
.shortcut-links a:hover img {
    transform: scale(1.15);
}
.shortcut-links img:hover {
    transform: scale(1.15); 
}

.sidebar hr{
    border: 0;
    height: 1px;
    background: #575757;
    width: 85%;
    margin-bottom: 20px;
}

.sidebar .button-container button {
    background: var(--color-surface-200);
    border: none;
    color: var(--color-surface-700);
    margin: 10px 2px;
    padding: 8px 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    outline-offset: -2px;
    text-decoration: none;
    transition: transform 0.1s ease;
}

.button-container button:hover {
    transform: scale(1.1); 
    font-weight: 600;
}


.small-sidebar{
    width: 90px;
}

.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}
.small-sidebar .button-container{
    display: none;
}

/* right sidebar */
.right-sidebar{
    position: fixed;
    right: 0; /* Adjust based on header height or desired offset */
    max-height: 100vh;
    width: 20%;
    overflow-y: auto;
    height: 100vh;
    float: right;
    background-color: var(--color-surface-100);
}
.right-title{
    position: sticky;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--color-surface-100);
}
.right-title img{
    width: 32px;
}
.right-title h2{
    color: var(--color-surface-700);
    padding: 10px;
    margin-left: 15px;
}
.right-sidebar hr{
    border: 0;
    height: 1px;
    background: #575757;
    width: 98%;
}
.right-info{
    color: var(--color-surface-700);
    width: 90%;
    padding-bottom: 90px;
}
.contact-label{
    display: flex;
    align-items: center;
    justify-content: left;
}
.contacts{   
    /* margin-left: 40px; */
    padding: 20px 0 0 20px;
}
.contacts img{
    width: 16px;
}
.contacts h4{
    align-items: center;
    padding: 10px;
    font-size: 16px;
}
.contacts li{
    font-size: 12px;
    margin-left: 50px;
}
.contacts span{
    color: var(--color-primary-500);
}

.main-content{
    padding: 20px 17.5%;
}
.mock-post{
    height: 800px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}
