<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="style-edit-profile.css">

</head>
<body>
    <div class="container">
        <form action="/profile">
            <h1>Account Settings</h1>
        <div class="general">
            <h4>General</h4>
            <div class="input-box">
                <input id="username" type="text" placeholder="username" required value="username"/>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Name">
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email">
            </div>
        </div>
        <hr>
        <div class="password">
            <h4>Change Password</h4>
            <div class="input-box">
                <input type="password" placeholder="Current Password">
            </div>
            <div class="input-box">
                <input type="password" placeholder="New Password">
            </div>
            <div class="input-box">
                <input type="password" placeholder="Confirm Password">
            </div>
        </div>
        

            <script>
                let eyeicon = document.getElementById("eyeicon");
                let password = document.getElementById("password");

                eyeicon.onclick = function(){
                    if(password.type == "password"){
                        password.type = "text";
                    }else{
                        password.type = "password";
                    }
                }
            </script>

            <button type="submit" class="btn">Log In</button>

    </div>
</body>
</html>