<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <div class="wrapper">
        <a href="/login" class="exit">
            <img src="images/cross-small.png" class="cross">
        </a>
        <form action="/signup" method="post">
            <h1>Register</h1>
            <div class="input-box">
                <input type="text" id="name" name="username" placeholder="Username" required>
                <img src="images/user.png" class="user-icon">
            </div>
            <div class="input-box">
                <input type="text" id="email" name="email" placeholder="Email" required>
                <img src="images/envelope.png" class="email-icon">
            </div>

            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required id="password">
                <img src="images/lock.png" class="lock-icon">
            </div>
            
            <div class="input-box">
                <input type="password" placeholder="Confirm Password" required id="confirm-password">
                <img src="images/lock (1).png" class="lock1-icon">
            </div>

            <div class="show">
                <img src="images/eye.png" id="eyeicon" class="show-icon1"> <label for="eyeicon">Show Password</label>
            </div>

            
            <script>
                let eyeicon = document.getElementById("eyeicon");
                let password = document.getElementById("password");
                let confirmPassword = document.getElementById("confirm-password");
            
                eyeicon.onclick = function() {
                    if (password.type === "password") {
                        password.type = "text";
                        confirmPassword.type = "text";
                    } else {
                        password.type = "password";
                        confirmPassword.type = "password";
                    }
                }
            </script>           

            <button type="submit" class="btn"><a href="/login"></a>Sign Up</button>
        </form>
    </div>

</body>
</html>